<div class="bodyMargin">
  <h1>Angular Router</h1>
<nav>
  <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">contact</a>{{" === "}}
  <a routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">services</a>
</nav>
  <router-outlet />
  <!-- <app-add-employee></app-add-employee>
  <app-employee-list></app-employee-list>
  <app-data-binding /> -->
  <!-- <app-my-directives></app-my-directives> -->
   <!-- <app-parent></app-parent> -->
    <!-- <app-counter></app-counter> -->
</div>
